@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-montserrat;
}
body {
  background-color: var(--bg-color);
  min-height: 100vh;
}

:root {
  --main-color: rgb(29, 78, 216);
  --secondary-color: rgb(0, 0, 0);
  --bg-color: rgb(226, 232, 240);
  --box-color: rgb(255, 255, 255);
}

/* Motyw ciemny */
[data-theme="dark"] {
  --main-color: rgb(222, 42, 201);
  --secondary-color: rgb(232, 225, 209);
  --bg-color: rgb(17, 54, 85);
  --box-color: rgb(10, 33, 51);
}
